---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}

<form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Your Full Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Telephone Number: <input type="tel" name="tel" /></label>
  </p>
  <p>
    <label>Your Job Request: <select name="role[]" multiple>
      <option value="webdev">Web Development</option>
      <option value="UX">UX Design</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
